
<div class="container comment-section write-box-container">
    <div class="col-md-12 col-10 comment-section write-box">
        <textarea name="postText" id="write-text-area" class="write-textarea"
            placeholder="What's on your mind?"></textarea>
    </div>

    {{!-- <p id="char-limit-comment">Enter at least one character</p> --}}
    <div class="col-md-11 col-10 write-box-container-footer mt-3">
        <input id="cancel-comment-btn" class="btn btn-primary mx-3" type="reset" value="Cancel">
        <input id="post-comment-btn" class="btn btn-primary" type="submit" value="Post" data-post-id="{{thePost._id}}">
    </div>

    
    <div class="toast-container-comment-fixed">
        <div id="commentToast" class="toast align-items-center custom-toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    

</div>
