<form action="/comment" method="post">
    <div class="container comment-section write-box-container">
        <div class="col-md-12 col-10 comment-section write-box">
            <textarea name="postText" id="write-text-area" class="write-textarea"
                placeholder="What's on your mind?"></textarea>
        </div>
        <div class="col-md-11 col-10 write-box-container-footer mt-3">
            <input class="btn btn-primary mx-3" type="reset" value="Cancel">
            <input class="btn btn-primary" type="submit" value="Post">
        </div>
    </div>
</form>