<form action="">
        <div class="container write-box-container">
            <div class="col-md-8 col-10 write-box">
                <textarea name="title-field" id="write-title-area" class="write-titlearea"
                    placeholder="Give your post a title"></textarea>
                <textarea name="text-field" id="write-text-area" class="write-textarea"
                    placeholder="What's on your mind?"></textarea>
            </div>

            <div class="col-md-8 col-10 write-box-container-footer">
                <input class="btn btn-primary mx-3" type="reset" value="Cancel">
                <input class="btn btn-primary" type="submit" value="Post"
                    onclick="postToFeed('LuisDaBeast', 'write-title-area', 'write-text-area')">
            </div>
        </div>
    </form>