/* Font */

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */

:root{
    --vdark: #0E0A17;
    --dark: #241b2b;
    --light: #D4C8C8;
    --blue: #4da1a9;
    --purple: #8367C7;
}

/* General */
.modal-content {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Poppins';
}

p, h1 {
    margin: 0;
    color: var(--light);
    font-family: 'Poppins';
}

p::selection, a::selection{
    background-color: var(--purple);
}

.post-title a:active {
    color: var(--blue) !important;
    transition: color 0.3s ease;
}

body{
    background-color: var(--vdark);
    padding-top: 100px;
}

.bi, .btn{
    color: var(--light);
}
/* Navbar */
.bi-book-half{
    margin-right: 5px;
}

.navbar-dark{
    color: var(--light);
}

.navbar-brand{
    margin-right: 15%;
    user-select: none;
}

.nav-link{
    font-family: 'Poppins';
    font-weight: 300;
}

.sign-up-button:hover{
    color: var(--blue);
}

.login-button:hover{
    color: var(--purple);
}

form.d-flex{
    width: 48%;
    height: 10%;
}

.form-control{
    background-color: var(--light);
    font-family: 'Poppins';
    color: var(--vdark);
}

.form-control:focus {
    background-color: var(--light);
    outline: none;
    box-shadow: none;
    border: 3px var(--purple) solid;
}

/* Posts */
.write-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-box{
    background-color: var(--dark);
    height: 270px;
    padding: 20px;
}

.write-textarea, .write-titlearea{
    border-radius: 15px;
    width: 100%;
    resize: none;
    padding: 10px 15px;
    resize: none;
    background-color: var(--light);
    outline: none;
    font-family: 'Poppins';
    color: var(--dark);
}

.write-titlearea{
    height: 20%;
    font-weight: 700;
}


.write-textarea{
    height: 80%;
}

.write-textarea:focus, .write-titlearea:focus{
    outline: none;
}

.write-textarea::selection, .write-titlearea::selection{
    background-color: var(--blue);
}

.write-box-container-footer{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.btn-primary, .btn-outline-light{
    font-family: 'Poppins';
    background-color: var(--vdark);
    border-color: var(--blue);
    transition: background-color 0.5s ease;
}

.btn-primary:hover, .btn-primary:active:focus, .btn-outline-light:hover, .btn-outline-light:active:focus{
    color: var(--vdark);
    background-color: var(--blue);
    border-color: var(--blue);
}

.post-username {
    margin-bottom: 0;
    margin-right: 20px;
    user-select: none;
    color: var(--light) !important;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.2rem;
}

.edit-indicator{
    user-select: none;
    font-family: 'Poppins';
    font-weight: 300;
    color: var(--light);
    opacity: 50%;
}

.post-title {
    color: var(--light) !important;
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 3%;
}

.post-body-top-div {
    padding: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1%;
}


.dp-div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp-nav{
    height: 40px;
    width: 40px;
}

.dp-div img{
    user-select: none;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.post, .user-bio-div{
    background-color: var(--dark);
    padding: 0 3%;
    padding-top: 1%;
    margin: 5% 0;
}

.post-body-text{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.post-icon{
    color: var(--light);
    margin: 0 0;
    margin-right: 30px;
    transition: color 0.3s ease;
}

.bi-arrow-up-short:hover, .bi-pencil:hover{
    cursor: pointer;
    color: var(--blue);
}

.bi-arrow-down-short:hover{
    cursor: pointer;
    color: var(--purple);
}

.post-actions-div{
    padding: 0;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-count-div{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-count{
    user-select: none;;
}

.active-up {
    color: var(--blue);
}

.active-down {
    color: var(--purple);
}

/* Profile-Posts/Comments Div*/

.user-bio-div{
    padding-bottom: 1%;
}

.user-bio-bottom-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user-bio-button{
    width: auto;
}

#post-comments-div {
    text-align: center;
    display: flex;

}

/* Profile-Posts */
#profileposts-posts-div{
    float: left;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;


    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    
}

#profileposts-comments-div{
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    font-family: 'Poppins';
    font-size: 30px;
}

/* Profile-Comments */

#profilecomments-posts-div{
    float: left;
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;


    font-family: 'Poppins';
    font-size: 30px;
    
}

#profilecomments-comments-div{
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
}

#profile-username {
    margin-bottom: 0;
    user-select: none;
    color: var(--light) !important;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
}

.user-profile-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#bio-text-area{
    resize: none;
}

/* Login-Register */
.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-register-div {
    background-color: var(--purple);
    width: 50%;
    padding: 50px;
    align-items: center; 
    justify-content: center;
}

.confirm-button {
    background-color: rgb(0, 181, 181); 
    color: var(--light); 
    align-items: right; 
    justify-content: right; 
    border-radius: 10px; 
    margin-left: 550px;
}

.registration-field{
    width: 80%;
    margin-bottom: 10px;
    padding: 0 5px;
}

.login-bottom-div, .registration-bottom-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment-section{
    color: var(--light);
    background-color: var(--vdark);
}

.comment-section .write-box {
    margin-bottom: -50px;
}
 
.replies {
    padding: 0 0;
    margin-bottom: 50px;
    color: var(--light);
    outline: 1px var(--vdark) solid;
}

.reply{
    margin: 0  0;
}