<div class="container">
    <div class="card post">
        <div class="card-body">
            <h2 class="post-title">About</h2>
            <p>
                This project is for educational purposes only.
            </p>
            <br>
            <h3 class="post-title">
                Members
            </h3>
            <ul>
                <li>
                    <p>Wendell Abiño</p>
                </li>
                <li>
                    <p>Luis Guidote</p>
                </li>
                <li>
                    <p>Markus Reynoso</p>
                </li>
                <li>
                    <p>Remus Yap</p>
                </li>
            </ul>
            <h3 class="post-title">
                References
            </h3>
            <ul>
                <li>
                    <a href="https://stackoverflow.com/questions/41764373/how-to-register-custom-handlebars-helpers">
                        <p>Handlebars Helpers</p>
                    </a>
                </li>
                <li>
                    <a href="https://api.jquery.com/">
                        <p>JQuery Documentation</p>
                    </a>
                </li>
                <li>
                    <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">
                        <p>Bootstrap Documentation</p>
                    </a>
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>