<div class="login-container">
    <div class="login-register-div">
        <div class="login-register-title">
            <h1>Login</h1><br />
        </div>
        <form method="post" action="/login">
            <label for="username-field">
                <p>Username:</p>
            </label><br>
            <input type="text" class="registration-field" id="username-field" name="username"><br>
            <label for="username-field">
                <p>Password:</p>
            </label><br>
            <input type="password" class="registration-field" id="password-field" name="password"><br>
            <div class="registration-bottom-div">
                <button type="submit" class="btn btn-primary btn-sm" >Login</button>
            </div>
        </form>
        {{#if error}}
        <p>Incorrect username or password</p>
        {{/if}}
    </div>
</div>