<div class="login-container">
    <div class="login-register-div">
        <div class="login-register-title">
            <h1>Login</h1><br />
        </div>
        <form>
            <label for="username-field">
                <p>Username:</p>
            </label><br>
            <input type="text" class="registration-field" id="username-field" name="fname"><br>
            <label for="username-field">
                <p>Password:</p>
            </label><br>
            <input type="password" class="registration-field" id="password-field" name="fname"><br>
        </form>
        <div class="registration-bottom-div">
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/home-logged'">Login</button>
        </div>
    </div>
</div>