<div class="login-container">
    <div class="login-register-div">
        <div class="login-register-title">
            <h1>Register</h1><br />
        </div>
        <form id="register-form" method="post" action="/register">
            <label for="username-field">
                <p>Username:</p>
            </label><br>
            <input type="text" class="registration-field" placeholder="5 - 20 characters" id="username-field" name="username" required><br>
            <label for="password-field" required>
                <p>Password:</p>
            </label><br>
            <input type="password" class="registration-field" id="password-field" placeholder="10 - 20 chars, 1 uppercase, 1 lowercase, 1 number, 1 symbol" name="password" required><br>
            <label for="confirmation-field" >
                <p>Confirm Password:</p>
            </label><br>
            <input type="password" class="registration-field" id="confirmation-field" required><br>
            
            <p id="register-warning">Check requirements</p>
            {{#if error}}
                <p>{{errorMessage}}</p>
            {{/if}}
            <p>
            Already have an account? <span><a href="/login" class="login-redirect">Login</a></span>
            </p>
            <div class="registration-bottom-div">
                {{!-- <button type="submit" class="btn btn-primary btn-sm" onclick="window.location.href='/home-logged'">Register</button> --}}

                <button type="submit" class="btn btn-primary btn-sm">Register</button>
            </div>
        </form>
        
    </div>
</div>
<script src="/register.js"></script>